name: Generate ASCII
on:
  push
jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: List repo files
      run: ls -ltra

    - name: executing schell script
      run: chmod +x assci-script.sh
            ./assci-script.sh